@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Noto Sans JP", "sans-serif";
}
a {
  text-decoration: none;
}

:root {
  --title-size: 44px;
  --color: #4a4a4a;
  --link-color: #1389fd;
}

body {
  background-color: #f8f9fa;
}
.bar__row_parent {
  display: block;
  height: 66px;
}

.bar__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  background-color: white;
  padding: 12.5px;
  width: 100%;
  box-shadow: 0px 0px 10px -1px #77777777;
}
.bar__burger {
  margin: 10px;
  padding: 10px;
  display: none;
}
.bar__burger__span {
  position: absolute;
  top: 35px;
  left: 20px;
  width: 20px;
  background: #4a4a4a;
  height: 2.3px;
}
.bar__burger__span::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0px;
  width: 20px;
  background: #4a4a4a;
  height: 2.3px;
}
.bar__burger__span::after {
  content: "";
  position: absolute;
  bottom: 5.7px;
  left: 0px;
  width: 20px;
  background: #4a4a4a;
  height: 2.4px;
}
.logo__img {
  max-width: 129px;
  max-height: 37px;
}

.right__bar {
  display: flex;
  align-items: center;
}

.docs__link,
.showcase__link,
.community__link {
  color: #6e7274;
  font-size: 1rem;
  padding: 0 20px;
}

.twitter__img,
.youtube__img {
  max-width: 21px;
  max-height: 22px;
  margin: 0 6px;
}

.search__img {
  margin-right: -24px;
  max-width: 19.5px;
  z-index: 2;
  cursor: pointer;
}

.github__img {
  width: 28px;
  margin-right: 10px;
}

.twitter__img,
.youtube__img,
.github__img {
  margin-bottom: -5px;
}

.input__search {
  width: 20px;
  border: none;
  transition: all .3500s;
  padding: 9px 10px 10px 30px;
  color: #4a4a4a;
  outline: none;
  border: none;
  font-size: 15px;
}
.inputSearchActive {
  width: 200px;
  box-shadow: 0px 0px 0px 3px #8ec6fd;
}

.btn__getStarted {
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  background: #1389fd;
  color: white;
  cursor: pointer;
  font-size: 17px;
  outline: none;
  transition: all 0.2s;
}
.btn__getStarted:hover {
  background: #106fce;
}

.ad__Flutter2 {
  background-color: #075b9a;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.flutterIsHere__link,
.q1_survey__link {
  color: #60cafe;
  line-height: 30px;
}

.flutterIsHere__link:hover,
.q1_survey__link:hover {
  text-decoration: underline;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

.img__content {
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__content img {
  max-width: 337px;
  max-height: 600px;
}

.img__content__img1 {
  position: relative;
  left: 400px;
}

.img__content__img2 {
  position: relative;
  left: -500px;
}

.img__content__img3 {
  position: relative;
  left: -600px;
  top: -150px;
}

.img__content__text {
  min-width: 300px;
  font-size: 88px;
  margin-left: -1080px;
  position: relative;
  left: -110px;
  color: slategrey;
}

.img__content__subtext1,
.img__content__subtext2 {
  color: #075b9a;
}

.made {
  margin: 2rem;
}
.style {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}
.made__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.made__text__row {
  display: flex;
  align-items: flex-end;
  margin: 15px 0;
}
.made__span1 {
  padding: 0 10px 0 0;
  color: #4a4a4a;
  font-size: 23px;
}
.made__svg {
  margin: 3px 0 -4px 0;
}
.made__text2__links {
  color: #4a4a4a;
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
  max-width: 650px;
}
.made__text2__links a {
  color: #075b9a;
}
.made__text2__links a:hover {
  text-decoration: underline;
}
.made__buttons_row {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.made__buttons_row > a {
  border: none;
  font-weight: bold;
  background: #1389fd;
  color: white;
  cursor: pointer;
  font-size: 17px;
  outline: none;
  width: 240px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  transition: all 0.2s;
  margin: 20px 0;
}
.made__buttons_row > a:hover {
  background: #106fce;
}
.made__coming__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}
.made__coming__row > span {
  color: #4a4a4a;
}
.made__coming__row span {
  margin: 0 3px 0 0;
}
.made__coming__row a {
  padding: 0 2px;
  color: #075b9a;
}
.made__coming__row a:hover {
  text-decoration: underline;
}

.about {
  margin: 2rem;
}
.about__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.about__column1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 390px;
  padding: 0 20px;
}
.about__column1 a {
  color: #1389fd;
}
.about__column1 a:hover {
  text-decoration: underline;
}
.about__svg1 {
  background: #e7f8ff;
  padding: 20px;
  border-radius: 49px;
  margin: 30px;
}
.about__title {
  font-size: 28px;
  color: #4a4a4a;
  margin: 0 0 12px;
}
.about__text {
  text-align: center;
  color: #4a4a4a;
}

.show {
  margin: 2rem;
}
.show__row {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.show__video_parent {
  width: 778px;
  padding: 5px;
}
.show__video_parent video {
  max-width: 100%;
}
.show__column {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  padding: 5px;
}
.show__svg {
  background: #e7f8ff;
  padding: 20px;
  border-radius: 49px;
  margin: 2rem 0;
}
.show__title {
  font-size: 32px;
  color: #4a4a4a;
  margin: 0 0 30px;
}
.show__text {
  color: #4a4a4a;
  margin: 0 0 10px 0;
}
.show__link a {
  color: #1389fd;
}
.show__link:hover {
  text-decoration: underline;
}

.expressive {
  margin: 2rem;
}
.expressive__row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  flex-wrap: wrap;
}

.video {
  max-width: 55%;
  display: flex;
}
.video video {
  max-width: 100%;
}
.expressive_description__colum1 {
  max-width: 390px;
  padding: 25px;
  align-self: flex-start;
  margin-bottom: 140px;
}
.expressive_svg__parent {
  display: inline-flex;
  background: #e7f8ff;
  padding: 20px;
  border-radius: 49px;
  margin: 2rem 0;
}
.expressive__title {
  color: #4a4a4a;
  font-size: 2.75rem;
  margin-bottom: 30px;
}
.expressive__description {
  color: #4a4a4a;
  font-size: 15px;
  margin-bottom: 15px;
}
.expressive__row a {
  color: #1389fd;
}
.expressive__row a:hover {
  text-decoration: underline;
}
.expressive_description__column2 {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: relative;
  right: 183px;
  bottom: 50px;
  min-width: 220px;
  max-width: 220px;
  margin-left: 25px;
}

.expressive__title2 {
  color: #4a4a4a;
  font-size: 20px;
  margin-bottom: 8px;
}
.expressive__about2 {
  color: #4a4a4a;
  font-size: 15px;
  margin-bottom: 20px;
}
.expressive__links2 {
  font-size: 12.8px;
}
.expressive__links2 span {
  color: #4a4a4a;
}

.flutterNative {
  margin: 2rem;
}

.flutterNative__row {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
}
.flutterNative__row video {
  max-width: 50%;
}
.flutterNative_description__column {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  margin: 0 10px;
}
.flutterNative__svg {
  display: inline-flex;
  background: #e7f8ff;
  padding: 18px 12.6px;
  border-radius: 49px;
  margin: 2rem 2rem 2rem 0;
  align-self: flex-start;
}
.flutterNative__title {
  font-size: 44px;
  color: #4a4a4a;
  margin-bottom: 20px;
}
.flutterNative__about {
  color: #4a4a4a;
  font-size: 15px;
}
.flutterNative__link0 {
  color: #1389fd;
  margin: 20px 0;
}
.flutterNative_description__column a:hover {
  text-decoration: underline;
}
.flutterNative__span2 {
  color: #4a4a4a;
}
.flutterNative__span2,
.flutterNative__link1,
.flutterNative__link2 {
  font-size: 10.24px;
}
.flutterNative__link1,
.flutterNative__link2 {
  color: #1389fd;
}
.flutterNative__link1:hover,
.flutterNative__link2:hover {
  text-decoration: underline;
}
.flutterNative__row2 span {
  font-size: 10.24px;
  color: #4a4a4a;
}

.learn {
  margin: 2rem;
}
.learn_row {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  flex-wrap: wrap;
}
.learn__description {
  display: inline-flex;
  flex-direction: column;
  max-width: 380px;
  padding: 20px;
}
.learn__title {
  font-size: var(--title-size);
  color: var(--color);
  margin: 20px 0;
}
.learn__about {
  font-size: 15px;
  color: var(--color);
  margin-bottom: 20px;
}
.learn a {
  color: var(--link-color);
}
.learn a:hover {
  text-decoration: underline;
}
.learn iframe {
  max-width: 80%;
  width: 55%;
  height: 50vh;
}

.who {
  margin: 2rem;
}
.who__row {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.who__col1 {
  max-width: 640px;
}
.who__title {
  font-size: var(--title-size);
  color: var(--color);
  padding: 8px 0 6px;
}
.who__subtitle {
  color: var(--color);
  padding: 10px 0 15px;
}
.who a {
  color: var(--link-color);
}
.who a:hover {
  text-decoration: underline;
}
.who__col2 {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.who__col2 img {
  max-width: 200px;
  padding: 10px;
}
.who__img1 {
  height: 85px;
}
.who__img2 {
  height: 80px;
  max-width: 180px;
}
.who__img3 {
  height: 100px;
}
.who__img4 {
  min-height: 110px;
}
.who__img5 {
  height: 130px;
}

.news {
  margin: 2rem;
}
.news_col1,
.news_col2 {
  max-width: 655px;
  margin: 5px 0;
}
.news__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.news_img1,
.news_img2 {
  max-width: 100%;
  margin-bottom: 33px;
}
.news_subtitle {
  color: #6c757d !important;
  padding-left: 35px;
  padding-bottom: 17px;
  font-size: 12px;
}
.news_title {
  color: var(--color);
  font-size: 24px;
  padding-left: 35px;
  padding-bottom: 17px;
}
.news a {
  font-size: 15px;
  color: var(--link-color);
  padding-left: 35px;
  padding-bottom: 17px;
  display: block;
}

.install {
  margin: 30px 0;
}
.install_col {
  padding: 30px;
}
.install p,
.install a {
  text-align: center;
  display: block;
}
.install_title {
  font-size: var(--title-size);
  color: var(--color);
  padding: 10px;
}
.install_subtitle {
  color: var(--color);
  font-size: 24px;
  padding: 10px;
}

.footer {
  background-color: #303c42;
  padding: 20px;
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer img {
  max-width: 81px;
  width: 81px;
  max-height: 100px;
  height: 100px;
  margin: 20px;
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__col__row1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 13.5px;
  margin-bottom: 15px;
  justify-content: center;
}
.footer__col__row1 li:first-child {
  list-style: none;
}
.footer__col__row1 li {
  padding: 10px 5px;
}
.footer__col__row1 li a:hover {
  text-decoration: underline;
}
.footer,
.footer a {
  color: white;
}
.footer__col__row2 {
  font-size: 11px;
  padding-left: 5px;
  text-align: center;
}
.footer__col__row2 a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1376px) {
  .container {
    max-width: 1059px;
  }

  .expressive__about2 {
    color: #4a4a4a;
    font-size: 15px;
    margin-bottom: 20px;
    max-width: 146px;
  }

  .show__row {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .show__video_parent {
    max-width: 65%;
  }
}

@media screen and (max-width: 1340px) {
  .news_col1,
  .news_col2 {
    max-width: 522px;
    margin: 5px 0;
  }
}

@media screen and (max-width: 1173px) {
  .container {
    max-width: 908px;
  }
  .show__video_parent {
    max-width: 59%;
  }
  .expressive_description__colum1 {
    max-width: 390px;
    padding: 25px;
    align-self: flex-start;
    margin: 0;
  }
  .expressive_description__column2 {
    flex-direction: column;
    align-self: flex-end;
    position: relative;
    right: 165px;
    bottom: 50px;
    min-width: 220px;
    max-width: 220px;
    margin-left: 25px;
  }
  .learn iframe {
    max-width: 80%;
    width: 55%;
    height: 44.8vh;
  }
  .news_col1,
  .news_col2 {
    max-width: 444px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 975px) {
  .news_col1,
  .news_col2 {
    max-width: 325px;
    margin: 5px 0;
  }
  .container {
    max-width: 670px;
  }
  .phone__img {
    width: 280px;
    height: 500px;
  }
  .img__content__img2,
  .img__content__img3,
  .img__content__img1 {
    display: none;
  }
  .img__content__text {
    margin-left: 0;
  }

  .video {
    max-width: 100%;
  }
  .expressive_description__column2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: relative;
    right: 227px;
    bottom: 50px;
    min-width: 220px;
    max-width: 220px;
    margin-left: 25px;
  }
  .expressive_description__colum1 {
    max-width: 390px;
    padding: 15px;
    align-self: flex-start;
    margin-bottom: 40px;
  }
  .flutterNative_description__column {
    max-width: 100%;
  }
  .flutterNative__title {
    font-size: 32px;
  }
  .flutterNative__row video {
    max-width: 100%;
  }

  .show__video_parent {
    max-width: 100%;
  }
}

.left-burger-bar {
  display: none;
}
.left-burger-bar a {
  color: #6c757d;
  font-size: 1.3rem;
  padding: 20px 0;
}
.left-burger-bar-column {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.left-burger-bar-search-icon {
  max-width: 22px;
  position: absolute;
  top: 20px;
  left: 36px;
}
.left-burger-bar-input-div-parent {
  border-bottom: 2px solid #9e9e9e77;
  position: relative;
  left: -30px;
  width: 105%;
}
#left-burger-bar-search-input {
  max-width: 55%;
  min-width: 257px;
  border: none;
  font-size: 1.40rem;
  padding: 20px 30px 20px 40px;
  color: #4a4a4a;
  outline: none;
  transition: all .3s ease .100s;
}
#left-burger-bar-search-input:focus {
  box-shadow: 0px 0px 0px 3px #8ec6fd;
}

body,
.bar__row {
  transition: all .7s;
}

@media screen and (max-width: 790px) {
  .left-burger-bar {
    display: block;
    position: fixed;
    top: 0;
    left: -1000px;
    z-index: -1;
    background: #fff;
    max-width: 92%;
    width: 92%;
    min-height: 100%;
    transition: all .43s;
  }
  .bar__burger {
    margin: 10px;
    padding: 10px;
    display: inline;
  }
  .bar__burger__span {
    position: absolute;
    top: 35px;
    left: 20px;
    width: 20px;
    background: #4a4a4a;
    height: 2.3px;
  }
  .bar__burger__span::before {
    content: "";
    position: absolute;
    top: -11px;
    left: 0px;
    width: 20px;
    background: #4a4a4a;
    height: 2.3px;
  }
  .bar__burger__span::after {
    content: "";
    position: absolute;
    bottom: 5.7px;
    left: 0px;
    width: 20px;
    background: #4a4a4a;
    height: 2.4px;
  }
  .docs__link,
  .showcase__link,
  .community__link,
  .search__img,
  .input__search,
  .btn__getStarted {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .about__title,
  .show__title,
  .expressive__title,
  .flutterNative__title,
  .news_title,
  .flutterNative__title,
  .learn__title,
  .install_title,
  .who__title {
    font-size: 20px;
  }
  .made__span1 {
    font-size: 15px;
  }
  .made__coming__row > span {
    font-size: 15px;
  }
  .made__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .made__column,
  .about__row,
  .show__row,
  .expressive__row,
  .flutterNative__row,
  .learn_row,
  .who__row,
  .news__row {
    padding: 20px;
  }
  .helpImprove {
    font-size: 14px;
  }
  .img__content__text {
    margin-left: 31px;
  }
  .news__row {
    padding: 0;
  }
  .learn iframe {
    height: 20.5vh;
  }
}

@media screen and (max-width: 1053px) {
  .learn iframe {
    max-width: 100%;
    width: 100%;
    height: 60vh;
  }
  .learn__description {
    display: inline-flex;
    flex-direction: column;
    max-width: 610px;
    padding: 20px;
  }
}

@media screen and (max-width: 976px) {
  .phone__img {
    width: 280px;
    height: 500px;
    position: relative;
    left: 215px;
  }
}

@media screen and (max-width: 753px) {
  .news_col1,
  .news_col2 {
    max-width: 100%;
    margin: 5px 0;
  }
  .learn iframe {
    max-width: 100%;
    width: 100%;
    height: 54vh;
  }
  .who__col2 {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (max-width: 753px) {
  .container {
    max-width: 555px;
  }
  .phone__img {
    width: 224px;
    height: 400px;
    position: relative;
    left: 175px;
  }
  .expressive_description__column2 {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: relative;
    right: 155px;
    bottom: 50px;
    min-width: 220px;
    max-width: 220px;
    margin-left: 25px;
  }
}

@media screen and (max-width: 570px) {
  .video {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .expressive_description__column2 {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 143px;
  }
  .container {
    max-width: 500px;
  }
  .phone__img {
    width: 168px;
    height: 300px;
  }
}
